<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Login</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('.static', filename='css/lib/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('.static', filename='css/lib/dataTables.min.css') }}" rel="stylesheet">
  

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Controle de biblioteca</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--<div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Cadastro autor 
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cadastro editora</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>-->
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    
    <!--<h3>Cadastrar autor</h3>-->
    <br>
    <form action="">
      <div class="form-group">
        <div id="Login">
            <div class="row">
                <div class="col-md-12 col-md-offset-3 text-center">
                    <div class="form-group">
                        <input id="usuario" name="usuario" type="text" class="form-control" placeholder="Usuario" style="position: relative;width: 30%;left: 35%;">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <input id="senha" name="senha" type="password" placeholder="Senha" class="form-control" onkeyup="habilitaBotaoEntrar()" style="position: relative;width: 30%;left: 35%;">
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12 form-group">
                    <input id="Entrar" type="button" disabled onclick="login()" onkeypress="login()" class="btn btn-success" placeholder="Entrar" value="Entrar" style="position: relative;width: 30%;left: 35%;">
                </div>
            </div>
        </div>
      </div>
         
    </form> 
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('.static', filename='js/lib/jquery.slim.min.js') }}"></script>
  <script src="{{ url_for('.static', filename='js/lib/jquery.js') }}"></script>
  <script src="{{ url_for('.static', filename='js/lib/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('.static', filename='js/lib/dataTables.min.js') }}"></script>
  <script src="{{ url_for('.static', filename='js/lib/jquery.mask.js') }}"></script>
  
  <!--My scripts-->
  <script src="{{ url_for('.static', filename='js/script/login.js') }}"></script>
  <script src=" {{ url_for('.static', filename='js/script/habilita-entrar.js') }}"></script>

  
  <!--<script src=" {{ url_for('.static', filename='js/scripts/carrega-autores.js') }}"></script>
  <script src=" {{ url_for('.static', filename='js/scripts/carrega-area.js') }}"></script>
  <script src=" {{ url_for('.static', filename='js/scripts/carrega-editora.js') }}"></script>
  <script src=" {{ url_for('.static', filename='js/scripts/carrega-livros.js') }}"></script>
  <script src=" {{ url_for('.static', filename='js/scripts/carrega-genero.js') }}"></script>
  <script src="{{ url_for('.static', filename='js/scripts/envia-formulario.js') }}"></script>-->
  

</body>

</html>
