<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>OS Auditoria</title>
        
        <script src="{{ url_for('.static', filename='js/lib/jquery.min.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/lib/dataTables.min.css') }}">
        <script src="{{ url_for('.static', filename='js/lib/dataTables.min.js') }}"></script>
        <script src="{{ url_for('.static', filename='js/lib/jquery.mask.js') }}"></script>
        <script src="{{ url_for('.static', filename='js/lib/bootstrap.min.js') }}"></script>

        <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/lib/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/lib/dataTables.min.css') }}">
        <!-- Bootstrap CSS CDN -->

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/lib/jquery.mCustomScrollbar.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/estilos/sidemenu.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/estilos/intervalo-formato.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/lib/tooltipster.bundle.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/tooltips-themes/tooltipster-sideTip-borderless.min.css') }}">
        <!-- Scrollbar Custom CSS -->
        
        
        <script src="{{ url_for('.static', filename='js/lib/jquery.mCustomScrollbar.concat.min.js') }}"></script>
        <script src="{{ url_for('.static', filename='js/scripts/carrega_localidades.js') }}"></script>
        <script src="{{ url_for('.static', filename='js/scripts/carrega_especialidades.js') }}"></script>
        <script src="{{ url_for('.static', filename='js/scripts/carrega-iddentistas.js') }}"></script>
        <script src="{{ url_for('.static', filename='js/scripts/carrega-filiais.js') }}"></script>
        <script src="{{ url_for('.static', filename='js/scripts/carrega-todas-localidades.js') }}"></script>
        <script src="{{ url_for('.static', filename='js/scripts/carrega-todas-especialidades-da-localidade.js') }}"></script>


        <!--COMPARACAO DENTISTAS-->
        <script src="{{ url_for('.static', filename='js/scripts/carrega-filiais-comparacao-dentista.js') }}"></script>
        <script src="{{ url_for('.static', filename='js/scripts/carrega-localidades-comparacao-dentista.js') }}"></script>
        <script src="{{ url_for('.static', filename='js/scripts/carrega-bairro-comparacao.js') }}"></script>
        <script src="{{ url_for('.static', filename='js/scripts/carrega-bairros.js') }}"></script>
        <script src="{{ url_for('.static', filename='js/scripts/carrega-clinicas-comparacao-dentistas.js') }}"></script>
        <script src="{{ url_for('.static', filename='js/scripts/carrega-especialidades-comparacao-dentistas.js') }}"></script>
        <script src="{{ url_for('.static', filename='js/scripts/carrega-iddentistas-comparacao-dentistas.js') }}"></script>
        <script src="{{ url_for('.static', filename='js/scripts/carrega-procedimentos-dentista.js') }}"></script>
        <script src="{{ url_for('.static', filename='js/scripts/carrega-procedimentos-comparacao-dentistas.js') }}"></script>
        
        
        
        
        
        <!--COMPARACAO DENTISTAS-->

        <script src="{{ url_for('.static', filename='js/scripts/carrega-clinicas.js') }}"></script>
        <script src="{{ url_for('.static', filename='js/scripts/envia-formulario.js') }}"></script>
        <!--<script src="{{ url_for('.static', filename='js/scripts/envia-formulario-teste.js') }}"></script>-->
        <script src="{{ url_for('.static', filename='js/scripts/esconde-variavel.js') }}"></script>
        <script src="{{ url_for('.static', filename='js/scripts/mascaras.js') }}"></script>
        <script src="{{ url_for('.static', filename='js/scripts/limpa-campos.js') }}"></script>
        <script src="{{ url_for('.static', filename='js/lib/tooltipster.bundle.min.js') }}"></script>
        <script src="{{ url_for('.static', filename='js/lib/tooltip-js.js') }}"></script>
       
  
        
    </head>
    <body>

        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div id="dismiss">
                    <i class="glyphicon glyphicon-arrow-left"></i>
                </div>

                <div class="sidebar-header">
                    <h3>OS Auditoria</h3>
                </div>

                <ul class="list-unstyled components">
                    <!--<p>Dummy Heading</p>-->
                    <!--<li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Menu1</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li><a href="#">Home 1</a></li>
                            <li><a href="#">Home 2</a></li>
                            <li><a href="#">Home 3</a></li>
                        </ul>
                    </li>-->
                    <li>
                        
                            <a href="{{ url_for('rel.relatorio') }}">Relatório</a>
                            <a href="{{ url_for('dash.dashboard') }}">Dashboard</a>
                            <!--<a href="#">Contato</a>-->
                        
                        
                        <!--<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Menu2</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li><a href="#">Page 1</a></li>
                            <li><a href="#">Page 2</a></li>
                            <li><a href="#">Page 3</a></li>
                        </ul>-->
                    </li>
                    <li>
                        <a href=" {{ url_for('loginUser.logout') }}">Sair</a>
                    </li>
                    <!--<li>
                        <a href="#">Menu4</a>
                    </li>-->
                </ul>

                <ul class="list-unstyled CTAs">
                    <!--<li><a href="#" class="article"></a>Sair</li>-->
                    <!--<li><a href="#" class="download">Sair</a></li>-->
                    <!--<li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a></li>-->
                </ul>
            </nav>

            <!-- Page Content Holder -->
            <div id="content">

                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-align-left"></i>
                                <span>Menu</span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="{{ url_for('loginUser.logout') }}">Sair</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </nav>

        <div class="container">
        <h2>Relatório</h2>
        <br>
        <form class="">
            
          <div  class="form-group">
              <label id="labelProcedimentos">Procedimentos :</label>
              <select class="form-control" name="procedimentos" id="procedimentos" onclick="limpaCampos()">
                  <!--<option value="0">Selecione...</option> -->
                  <optgroup label="Extrair">
                    <option value="1">1: Extrair os dados da produção do dentista da referência dada</option> 
                    <option value="2">2: Extrair glosas da referência</option> 
                    <option value="3">3: Combinações de procedimentos frequentes nos tratamentos</option>  
                    <option value="4">4: Combinações de procedimentos, dente e face frequentes nos tratamentos</option>  
                    <option value="5">5: Procedimentos liberados</option>         
                    <option value="6">6: Síntese dos procedimentos</option>   
                    <option value="7">7: Predição de procedimentos</option>
                    <option value="9">8: Comparação de procedimentos entre dentistas</option>
                    <option value="10">9: Dentistas outliers</option>
                  </optgroup>
                  <optgroup label="Exportar">
                    <option value="101">1: Exportar produção para planilha excel</option>         
                    <option value="102">2: Exportar glosas para planilha excel</option>   
                    <option value="103">3: Exportar combinações de procedimentos frequentes nos tratamentos</option>
                    <option value="104">4: Exportar combinações de procedimentos, dente e face frequentes nos tratamentos</option>
                    <option value="105">5: Exportar procediementos liberados</option>
                    <option value="106">6: Exportar síntese dos procedimentos</option>
                    <option value="107">7: Exportar predição de procedimentos</option>
                    <option value="109">8: Exportar Comparação de procedimentos entre dentistas</option>
                    <option value="110">9: Exportar Dentistas outliers</option>
                  </optgroup>
              </select>
              <br>
              <div id="esconde">
                     
                      <label id="labelDivEscondeLocalidades">Localidades :</label>
                      <select class="form-control" name="divEscondeLocalidades" id="divEscondeLocalidades" style="max-width:100%">
                          <option value="Selecione..." SELECTED>Selecione...</option>
                      </select>     
  
                      <br>
  
                      <label id="labelDivEscondeEspecialidades">Especialidades :</label>
                      <select class="form-control" name="divEscondeEspecialidades" id="divEscondeEspecialidades" style="max-width:100%">
                          <option value="Selecione..." SELECTED>Selecione...</option>
                      </select>
  
                      <br>
                    <div id="EscodeSuporte">
                      <label id="Labelintervalo">Intervalo</label>
                      <br>
                      <label id="intervaloText1">De:
                        <input class="form-control" type="date" name="dataInicio" id="dataInicio" min="2005-01-01" max="2059-01-01"></label>
        
                      <label id="intervaloText2">Até:
                        <input class="form-control" type="date" name="dataFinal" id="dataFinal" min="2005-01-01" max="2059-01-01"></label>
                      <br>
                      <br>
                      <label id="LabelSuport">Suporte:
                        <input class="form-control" type="text" name="suport" id="suport" min="0.1" max="1.0" onkeypress="formataSuporte()" placeholder="0.1"></label>
                    </div>
              </div>
              
        
              <div id="EscondePorcentagem">
                  <label id="LabelRefinicial">Intervalo</label>
                  <br>
                  <label id="intervaloPorcentagem1">De:
                      <input class="form-control" type="date" name="RefInicial" id="RefInicial" min="2000-01-01" max="2059-01-01"></label>
  
                  <label id="intervaloPorcentagem2">Até:
                      <input class="form-control" type="date" name="RefFinal" id="RefFinal" min="2000-01-01" max="2059-01-01"></label>
                  <br>
                  <br>
                  <label id="LabelPorcentagem">Porcentagem:
                      <input class="form-control" type="text" name="porcentagem" id="porcentagem" min="0" max="100" onkeypress="formataPorcentagem()" placeholder="100"></label>
              </div>
                    
            <br>
            
            <div id="all">
                
                <div id="divMsgGrupo1"><h2>Grupo Escolhido</h2><br></div>
                <label>Referência :</label>
                <input class="form-control" type="date"  min=2015-01-01 max=2050-01-01 name="referencia" id="referencia" title="Selecione e pressione ENTER!">
                <div id="divMsgReferencia"><strong></strong></div>
                <br>
                <label>Filiais :</label>
                <select  class="form-control" name="filiais" id="filiais" title="Selecione e pressione ENTER!" >
                  <option value="Selecione..." SELECTED>Selecione...</option>
                </select>
                <div id="divMsgFiliais"><strong></strong></div>
    
                <br>
    
                <label id="labelLocalidades">Localidades :</label>
                <select class="form-control" name="localidades" id="localidades" title="Selecione e pressione ENTER!" style="max-width:100%">
                      <option value="Selecione..." SELECTED>Selecione...</option>
                </select>     
                <div id="divMsgLocalidade"><strong></strong></div>
    
                <br>
                
                <label id="labelBairro">Bairros :</label>
                <select class="form-control" name="bairro" id="bairro" title="Selecione e pressione ENTER!" style="max-width:100%">
                      <option value="Selecione..." SELECTED>Selecione...</option>
                </select>     
                <div id="divMsgbairro"><strong></strong></div>
    
                
                <br>
                
                <label id="labelClinicas">Clínicas :</label>
                <select class="form-control" name="clinicas" id="clinicas" title="Selecione e pressione ENTER!" style="max-width:100%">
                      <option value="Selecione..." SELECTED>Selecione...</option>
                </select>     
                <div id="divMsgClinicas"><strong></strong></div>
    
                <br>
    
                <label id="labelEspecialidades">Especialidades :</label>
                <select class="form-control" name="especialidades" id="especialidades" title="Selecione e pressione ENTER!" style="max-width:100%">
                <option value="Selecione..." SELECTED>Selecione...</option>
                </select>
                <div id="divMsgEspecialidade"><strong></strong></div>
    
                <br>
    
                <label id="labelIdDentistas">Dentistas :</label>
                <select class="form-control" name="dentistas" id="dentistas" style="max-width:100%">
                <option value=""></option>
                </select>
                <div id="divMsgDentistas"><strong></strong></div>
                <br>
                
                <label id="labelIdDentistasMultiple">Dentistas :</label>
                <select class="form-control" multiple  name="dentistasMultiple" id="dentistasMultiple" style="max-width:100%">
                <option value="Selecione..."SELECTED>Selecione...</option>
                </select>
                <div id="divMsgDentistas"><strong></strong></div>
                <br>

                <div id="ProcedimentosPesquisarALL">
                    <label id="LabelprocedimentosPesquisarSelectALL">Lista de Procedimentos :</label>
                    <select multiple class="selectpicker form-control" title="Selecione..."  data-show-subtext="true" data-live-search="true" name="procedimentosPesquisarSelectALL" id="procedimentosPesquisarSelectALL" style="max-width:100%">
                            <option value=""></option>
                    </select>
                </div>
            </div>
            <br>
            <br>
                
            <div id="allComparacao">
                <div id="divMsgGrupo2"><h2>Grupo Comparado</h2></div>
                <br>

                <label>Referência :</label>
                <input class="form-control" type="date"  min=2015-01-01 max=2050-01-01 name="referenciaComparacao" id="referenciaComparacao" title="Selecione e pressione ENTER!">
                <div id="divMsgReferenciaComparacao"><strong></strong></div>
                <br>
                <label>Filiais :</label>
                <select  class="form-control" name="filiaisComparacao" id="filiaisComparacao" title="Selecione e pressione ENTER!" >
                  <option value="Selecione..." SELECTED>Selecione...</option>
                </select>
                <div id="divMsgFiliaisComparacao"><strong></strong></div>
    
                <br>
    
                <label id="labelLocalidadesComparacao">Localidades :</label>
                <select class="form-control" name="localidadesComparacao" id="localidadesComparacao" title="Selecione e pressione ENTER!" style="max-width:100%">
                      <option value="Selecione..." SELECTED>Selecione...</option>
                </select>     
                <div id="divMsgLocalidadeComparacao"><strong></strong></div>
    
                <br>

                <label id="labelBairroComparacao">Bairros :</label>
                <select class="form-control" name="bairroComparacao" id="bairroComparacao" title="Selecione e pressione ENTER!" style="max-width:100%">
                      <option value="Selecione..." SELECTED>Selecione...</option>
                </select>     
                <div id="divMsgbairroComparacao"><strong></strong></div>
                <br>

                <label id="labelClinicasComparacao">Clínicas :</label>
                <select class="form-control" name="clinicasComparacao" id="clinicasComparacao" title="Selecione e pressione ENTER!" style="max-width:100%">
                      <option value="Selecione..." SELECTED>Selecione...</option>
                </select>     
                <div id="divMsgClinicasComparacao"><strong></strong></div>
    
                <br>
    
                <label id="labelEspecialidadesComparacao">Especialidades :</label>
                <select class="form-control" name="especialidadesComparacao" id="especialidadesComparacao" title="Selecione e pressione ENTER!" style="max-width:100%">
                <option value="Selecione..." SELECTED>Selecione...</option>
                </select>
                <div id="divMsgEspecialidadeComparacao"><strong></strong></div>
    
                <br>
    
                <label id="labelIdDentistasComparacao">Dentistas :</label>
                <select multiple class="form-control" name="dentistasComparacao" id="dentistasComparacao" style="max-width:100%">
                <option value="" ></option>
                </select>
                <div id="divMsgDentistasComparacao"><strong></strong></div>
    
                <br>
                <label id="LabelprocedimentosPesquisarSelectComp">Lista de Procedimentos :</label>
                <select class="selectpicker form-control" name="procedimentosPesquisarSelectComp" id="procedimentosPesquisarSelectComp" multiple  title="Selecione..."  data-show-subtext="true" data-live-search="true" style="max-width:100%">
                        <option value=""></option>
                </select>
            </div>

            
           
          </div>

          
          
          
          <input id="btn-processar" class="btn btn-primary"  onclick="MontaTabelaDinamica()" type="button" value="Processar">
        </form>
        <br>

        <div align="center" id="TituloMsg"></div>
        <br>
        <br>

        <!--<button type="submit" onclick="window.open('127.0.0.1:5001/imprime-planilha')">Baixar</button>-->
        <div id="tabela" >

                       
          </div>
        <div class="row">
                <div  class="col-sm-6" id="tabelaComparacao1">

        
                    </div>
          
                <div  class="col-sm-6"  id="tabelaComparacao2">
          
                  
                   </div>
                   <!--style="width: 500px;position: absolute;left: 50%;/* top: 0; */top: 75%;top: 1899px;" -->
        </div>
          
          <br><br>
            </div>
        </div>



        <div class="overlay"></div>


        <!-- jQuery CDN -->
        <!--<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>-->
        <!-- Bootstrap Js CDN -->
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
        <!-- jQuery Custom Scroller CDN -->
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>-->

        <script type="text/javascript">
            $(document).ready(function () {
                $("#sidebar").mCustomScrollbar({
                    theme: "minimal"
                });

                $('#dismiss, .overlay').on('click', function () {
                    $('#sidebar').removeClass('active');
                    $('.overlay').fadeOut();
                });

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').addClass('active');
                    $('.overlay').fadeIn();
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });
            });
        </script>
    </body>
</html>
